<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main class="container">
        <div class="head">
            <h1>Login</h1>
            <p>Sign in to continue</p>
        </div>

        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" autocomplete="off">
            <span class="invalid-warn"></span>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password">
            <span class="invalid-warn"></span>
        </div>

        <button type="button">Sign in</button>

        <div class="foo-message">
            Don't have an account? <a href="/register">Sign up</a>
        </div>
    </main>
    
    <!-- toast -->
    <section class="toast-container"></section>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <!-- login -->
    <script src="/js/login.js"></script>
</body>
</html>
